<!DOCTYPE html>
<html>
  <head>
    <!--<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />-->
    <title>Query Response</title>
    
    <style>
      .body {
        background-color:#DDEBEE;
        color:#424242;
      }
      .highlight-1 {
        color:#008080;
        font-weight:bold
      }
      .highlight-2 {
        color:#004040;
        font-weight:bold
      }
    </style>
  </head>
  <body>
    <h1>User Aquisition Query Results</h1><br/>
    <p><%= @start_time %>  to  <%= @end_time %></p><br/>
    <p>New Users: <%= @users.count %></p>
    <p>New Users from coupon codes: <%= @users.reject{|k,v| v.nil?}.count %></p>
    <br/>
    
    <hr/>
    
  </body>
</html>
