<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Welcome to Parkify!</title>
  </head>
  <body>
    <h1>Welcome to Parkify, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to Parkify.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Respectfully,<br/>-- The Parkify Team</p>
  </body>
</html>