%h1 Home#about
%p Find me in app/views/home/about.html.haml
%hr
%p 
  Links: 
  %br
  #{ link_to 'New Parking Spot', 'http://parkify-rails.herokuapp.com/parking_spots/new' }!
  %br
  #{ link_to 'Admin Panel', 'http://parkify-rails.herokuapp.com/admin' }