<html>

<script language="javascript">
function getURLParameter(name) {
      return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
}
function startiThrown(appurl) {
      document.location = appurl;
          var time = (new Date()).getTime();
              setTimeout(function(){
                  var now = (new Date()).getTime();
                  if((now-time)<400) {
                  if(confirm('You do not seem to have Parkify installed, do you want to go download it now?')){
                    window.location = "http://itunes.apple.com/us/app/parkify/id559731373?mt=8&ign-mpt=uo%3D4";
                  }
                  }
                                                                               }, 300);
}
setTimeout(function() {
            }, 2500);
function parseURL(){
          var spotid = getURLParameter("spotid");
                  var newurl = "parkify://extend";
                  if(spotid)
                    newurl = newurl + "?spotid="+ spotid;
//                  window.alert(newurl);
                  startiThrown(newurl)

}

</script>
<body onload = "parseURL()">
</body>
</html>
