%h1 Home#index
%p Find me in app/views/home/index.html.haml
%hr
%p 
  Links: 
  %br
  #{ link_to 'New Parking Spot', http://parkify-rails.herokuapp.com/parking_spots/new }
  %br
  #{ link_to 'Admin Panel', http://parkify-rails.herokuapp.com/admin }