
  <div class="tos-text-container">
  <%= image_tag '/assets/filler.jpg' %>
  </div>
  
  
  <div class="logo-container">
  <%= image_tag("/assets/logo.png", :width=>"385px", :height=>"161px", :style=>"display:block;" )%>
  </div>
  
  <div class="demo-container">
   <%= image_tag("/assets/app_demo_1.png", :width=>"270px", :height=>"480px", :style=>"display:block;") %>
  </div>
    