
=form_tag({:controller => "parking_spots", :action => "create"}, :method => "post") do
  
  ="Latitude "
  =text_field(:location, :latitude)
  %br
  
  ="Longitude "
  =text_field(:location, :longitude)
  %br
  
  ="Location Name "
  =text_field(:location, :location_name)
  %br
  
  ="Spot Title "
  =text_field(:resource, :title)
  %br
  
  ="Price Per Hour "
  =text_field(:price_plan, :price_per_hour)
  %br
  
  ="Description "
  =text_field(:resource, :description)
  %br
  
  ="Directions "
  =text_field(:location, :directions)
  %br
  
  ="Address "
  =text_field(:location, :address)
  %br
  
  ="--------------------------------------"
  %br
  
  ="Spot Layout: "
  ="parallel"
  =radio_button(:quick_property, :spot_layout, "parallel")
  ="regular"
  =radio_button(:quick_property, :spot_layout, "regular")
  %br
  
  ="Spot Difficulty: "
  ="easy"
  =radio_button(:quick_property, :spot_difficulty, "easy")
  ="hard"
  =radio_button(:quick_property, :spot_difficulty, "hard")
  %br
  
  ="Spot Coverage: "
  ="covered"
  =radio_button(:quick_property, :spot_coverage, "covered")
  ="open_air"
  =radio_button(:quick_property, :spot_coverage, "open_air")
  %br
  
  ="Spot Signage: "
  ="sticker"
  =radio_button(:quick_property, :spot_signage, "sticker")
  ="sign"
  =radio_button(:quick_property, :spot_signage, "sign")
  ="custom_install"
  =radio_button(:quick_property, :spot_signage, "custom_install")
  %br
  
  ="--------------------------------------"
  %br
  
  ="Count "
  =number_field(:extra, :count)
  %br

  ="--------------------------------------"
  %br
  
  = submit_tag( 'Subscribe' )
  