
=form_tag({:controller => "parking_spots", :action => "create"}, :method => "post") do
  
  ="Latitude "
  =text_field(:location, :latitude)
  %br
  
  ="Longitude "
  =text_field(:location, :longitude)
  %br
  
  ="Location Name "
  =text_field(:location, :location_name)
  %br
  
  ="Spot Title "
  =text_field(:resource, :title)
  %br
  
  ="Price Per Hour "
  =text_field(:price_plan, :price_per_hour)
  %br
  
  ="Description "
  =text_field(:resource, :description)
  %br
  
  

  = submit_tag( 'Subscribe' )
  