=form_tag({:controller => "offers", :action => "create", :resource_id => @resource.id}, :method => "post") do
  
  ="Start Time "
  =datetime_select(:offer, :start_time, :ampm => true)
  %br
  
  ="End Time "
  =datetime_select(:offer, :end_time, :ampm => true)
  %br
  
  
  ="Price per hour "
  =number_field(:price_plan, :price)
  %br
  

  = submit_tag( 'Save' )
  