html
{
	background: #7F7F7F url("../images/background.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 859px;
	-pie-box-shadow: 6px 6px 8px #808080;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

.Style
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

#u361
{
	z-index: 2;
	width: 961px;
	position: relative;
	margin-right: -961px;
}

#u372
{
	z-index: 4;
	width: 991px;
	position: relative;
	margin-right: -991px;
	margin-top: -8px;
	left: -4px;
}

#u365-5
{
	z-index: 6;
	width: 298px;
	min-height: 18px;
	position: relative;
	margin-right: -298px;
	margin-top: 21px;
	left: 611px;
}

#pu365-4
{
	width: 290px;
	color: #D3F4FF;
	font-weight: bold;
	position: relative;
	margin-right: -290px;
	margin-top: 7px;
	left: 8px;
}

#u365
{
	text-decoration: none;
	color: #D3F4FF;
}

#pu795
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
}

#u795
{
	z-index: 26;
	width: 57px;
	height: 22px;
	position: relative;
	margin-right: -57px;
	margin-top: 3px;
}

#u796
{
	z-index: 27;
	width: 84px;
	height: 22px;
	position: relative;
	margin-right: -84px;
	margin-top: 3px;
	left: 75px;
}

#u797
{
	z-index: 28;
	width: 47px;
	height: 22px;
	position: relative;
	margin-right: -47px;
	margin-top: 3px;
	left: 180px;
}

#u798
{
	z-index: 29;
	width: 47px;
	height: 25px;
	position: relative;
	margin-right: -47px;
	left: 247px;
}

#u366
{
	z-index: 11;
	width: 93px;
	position: relative;
	margin-right: -93px;
	margin-top: 20px;
	left: 17px;
}

#u374
{
	z-index: 13;
	width: 851px;
	position: relative;
	margin-right: -851px;
	margin-top: 657px;
	left: 54px;
}

#u369-4
{
	z-index: 15;
	width: 138px;
	min-height: 24px;
	color: #D3F4FF;
	font-size: 12px;
	position: relative;
	margin-right: -138px;
	margin-top: 758px;
	left: 84px;
}

#u363
{
	z-index: 19;
	width: 57px;
	position: relative;
	margin-right: -57px;
	margin-top: 750px;
	left: 619px;
}

#u361_img,#u372_img,#u366_img,#u374_img,#u363_img
{
	vertical-align: top;
}

#u368-4
{
	z-index: 21;
	width: 143px;
	min-height: 18px;
	position: relative;
	margin-right: -143px;
	margin-top: 751px;
	left: 715px;
}

#pu368-3
{
	width: 135px;
	color: #D3F4FF;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -135px;
	margin-top: 5px;
}

#u806
{
	z-index: 33;
	width: 82px;
	height: 24px;
	position: relative;
	margin-right: -82px;
	left: 61px;
}

#u707
{
	z-index: 25;
	width: 200px;
	min-height: 584px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -200px;
	margin-top: 94px;
	left: 29px;
}

#u803
{
	z-index: 30;
	width: 29px;
	height: 37px;
	position: relative;
	margin-right: -29px;
	margin-top: 745px;
	left: 618px;
}

#u804
{
	z-index: 31;
	width: 29px;
	height: 37px;
	position: relative;
	margin-right: -29px;
	margin-top: 744px;
	left: 661px;
}

#u805
{
	z-index: 32;
	width: 29px;
	height: 37px;
	position: relative;
	margin-right: -29px;
	margin-top: 744px;
	left: 722px;
}

.ie #u795,.ie #u796,.ie #u797,.ie #u798,.ie #u806,.ie #u803,.ie #u804,.ie #u805
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	padding-bottom: 37px;
}

