<!DOCTYPE html>
<html>
<head>
  <title>Parkify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="header"><a href="#"><img src="../../Documents/Designs/Design 7/blue_ribbon_top.png" alt="Insert Logo Here" name="Insert_logo" width="100%" height="90" id="Insert_logo" style="display:block;" /></a>
    <!-- end .header -->
  </div>
  
 
 
  <div class="content">
  
  
  <div class="download-free-app-container"><img src="../../Documents/Designs/WebDesign2/download_free_app.png" width="313" height="91"></div>
  
  <div class="nav-r">
  
  	<ul class="nav">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  
  
  
  </div>
  <div class="logo-container"><img src="../../Documents/Designs/WebDesign2/logo.png" width="385" height="161" alt="logo"></div>
    <div class="demo-container">
      <img src="../../Documents/Designs/WebDesign2/app_demo_1.png" width="270" height="480" alt="demo">
    </div>
    
    
    <div class="cc-container">C 2012 Parkify Inc
</div>

<div class="other-links-container">
<a href="javascript:alert('broken-link! :3');">Terms of Service</a><br/>
<a href="javascript:alert('broken-link! :3');">Privacy Policy</a>
</div>
	



<div class="clearfloat"/>
    
    
    <!-- end .content -->
  </div>
  <div class="footer"> <img src="../../Documents/Designs/Design 7/blue_ribbon_bottom.png" alt="Insert Logo Here" name="Insert_logo" width="100%" height="90" id="Insert_logo" style="display:block;" />
    <!-- end .footer -->
  </div>
  <!-- end .container -->
</div>

</body>
</html>
